.header {
   font-family: $accent-font;
   padding: 15px 0;
}
.header-other {
   font-family: $accent-font;
   padding: 15px 0;
   background: linear-gradient(287.56deg, #000000 0%, rgba(0, 0, 0, 0.8) 100%);
}
.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header__logo {
   font-family: 'Teko', sans-serif;
   font-size: 36px;
   line-height: 52px;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}
.nav__list {
   display: flex;

   .nav__item + .nav__item {
      margin-left: 25px;
   }
   .nav__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 2px;

      &:hover {
         border-bottom: 1px solid $green-color;
      }
   }
}
.header__login {
   border: 1px solid $green-color;
   border-radius: 5px;
   transform: skew(-20deg);
   transition: background 0.2s ease;

   &:hover {
      background: rgba(31, 251, 67, 0.1);
      transition: background 0.2s ease;
   }
   p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      transform: skew(20deg);
      padding: 9px 23px;
   }
}
.header-menu {
   position: relative;
   z-index: 999;
   display: none;
   justify-content: center;
   align-items: center;
}

.header-menu__icon {
   display: block;
   position: relative;
   width: 15px;
   height: 1px;
   background-color: #fff;

   &::after,
   &::before {
      position: absolute;
      content: '';
      width: 15px;
      height: 1px;
      background-color: #fff;
      transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
   }

   &::before {
      left: 0;
      top: -5px;
   }

   &::after {
      left: 0;
      top: 5px;
   }
}


