.new-products {
   margin-top: 439px;
}
.new-products__columns {
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(4, 261px);
   grid-template-rows: repeat(2, 190px);
   grid-template-areas: 
   "man adidas reebok woman"
   "man nike puma woman";
   grid-gap: 20px 24px;
}
.new-block {
   position: relative;

   &:hover {
      .new-block__img {
         filter: brightness(40%);
         transition: filter 0.2s ease;
      }
   }
   .new-block__img {
      filter: brightness(60%);
      border-radius: 10px;
      transition: filter 0.2s ease;
   }
   &:nth-child(1) {
      grid-area: man;
   }
   &:nth-child(2) {
      grid-area: adidas;
   }
   &:nth-child(3) {
      grid-area: reebok;
   }
   &:nth-child(4) {
      grid-area: nike;
   }
   &:nth-child(5) {
      grid-area: puma;
   }
   &:nth-child(6) {
      grid-area: woman;
   }
   .new-block__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      line-height: 36px;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      transition: text-shadow 0.2s ease;

      &::before {
         position: absolute;
         top: -5px;
         right: -15px;
         content: '';
         background-color: $red-color;
         width: 65%;
         height: 2px;
         transition: width 0.4s ease;
      }
      &:hover::before {
         width: 100%;
      }
      &::after {
         position: absolute;
         bottom: 0;
         left: -15px;
         content: '';
         background-color: $red-color;
         width: 65%;
         height: 2px;
         transition: width 0.4s ease;
      }
      &:hover::after {
         width: 100%;
      }
      &--man {
         writing-mode: vertical-lr;
         text-orientation: upright;
         letter-spacing: 0.9em;
         transition: text-shadow 0.2s ease;
         
         &:hover {
            text-shadow: 1px 1px 8px #FFFFFF;
            transition: text-shadow 0.2s ease;
         }
         &::before {
            display: none;
         }
         &::after {
            display: none;
         }
      }
      &--woman {
         writing-mode: vertical-lr;
         text-orientation: upright;
         letter-spacing: 0.9em;
         transition: text-shadow 0.2s ease;
         
         &:hover {
            text-shadow: 1px 1px 8px #FFFFFF;
            transition: text-shadow 0.2s ease;
         }
         &::before {
            display: none;
         }
         &::after {
            display: none;
         }
      }
   }
}