.reviews {
   margin-top: 100px;
}
.reviews__columns {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.reviews-block {
   display: flex;
   align-items: center;
   border: 1px solid $red-color;
   border-radius: 15px;
   width: 546px;
   padding: 12px 0px 13px 15px;

   & + & {
      margin-top: 24px;
   }

   .reviews-block__avatar {
      border-radius: 15px;
   }
   .reviews-block__text {
      margin-left: 24px;
      font-family: $accent-font;
      color: #000;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      white-space: pre-wrap;
   }
}